@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(https://i.redd.it/mtn5itmzhutz.jpg);
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}